<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="utf-8">
        <title>IW Schedule</title>
        <link rel="stylesheet" href="static/style.css">
        <link rel="shortcut icon" href="static/img/favicon.ico" />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;800&family=Roboto:wght@100;400;700;900&display=swap" rel="stylesheet">
    </head>
	<body>
        <header>
            <h1>
                Infinet Technical Support shifts schedule
            </h1>
            <nav>
                <img src="static/img/color-white horizontal.svg" width="270px">
                <ul>
                    <li><a href="index.html">Main Page</a></li>
                    <li><a href="index.html">Parser</a></li>
                    <li><a href="index.html">Settings</a></li>
                </ul>
            </nav>
        </header>
        <main>
		    <h2>
                Duty
            </h2>
            Today is {{ date }}<br>
            {{ person }} on duty<br>
        </main>
        <footer>
            Подвал сайта<br>
        </footer>
	</body>
</html>